.click-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.8s ease;
    transform: translateX(-60%);
}

.click-overlay--hidden {
    opacity: 0;
    pointer-events: none;
}

.click-label {
    color: #a1eefd;
    text-align: center;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    user-select: none;
    animation: pulse 2s infinite;
    font-size: clamp(3rem, 7vw, 6rem);
    transition: transform 2.3s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.12s ease-in-out;
}

.click-label:hover{
    transform: scale(1.10);
    -webkit-text-stroke: 3px #a1eefd;
    color: rgb(255, 255, 255);
}