.hero-container {
    position: fixed;
    inset: 0;
}


.click-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 0.8s ease;
}

.click-overlay--hidden {
    opacity: 0;
    pointer-events: none;
}

.click-label {
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -2px;
    text-transform: uppercase;
    animation: pulse 2s infinite;
    transition: transform 2.3s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.12s ease-in-out;
}

.click-label:hover{
    transform: scale(1.20);
    color: rgba(255, 255, 255, 0.7);
}

@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}